{% extends "users/user_informations.html" %}
{% block content %}
<div class="content">
    
    <form action = "{% url 'jelszovaltas' %}" method="post" id="jelszovaltas-form">
        <h3>Jelszóváltoztatás</h3>
        {% csrf_token %}
        <div>
            <label for="">Régi jelszó:</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                
                    {% for error in form.old_password.errors %}
                        <p class="change-password-error">{{ error }}<p>
                    {% endfor %}
                
            {% endif %}
        </div>
        <div>
            <label for="">Új jelszó:</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            
                    {% for error in form.new_password1.errors %}
                        <p class="change-password-error">{{ error }}<p>
                    {% endfor %}
                
            {% endif %}
        </div>
        <div>
            <label for="">Új jelszó megerősítése</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
               
                    {% for error in form.new_password2.errors %}
                        <p class="change-password-error">{{ error }}<p>
                    {% endfor %}
                
            {% endif %}
        </div>
        <button type="submit" class="btn btn-warning">Jelszó megváltoztatása</button>
        <a href="{% url 'sajatadatok' %}" class="btn btn-warning">Vissza a saját adatokhoz</a>
    </form>
</div>
    

{% endblock content %}