{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancient Interactive - Home</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'styles/home_style.css' %}">
    
</head>
<body id="background">
    <div class="page-pattern left-pattern"></div>
    {% include "pages/messages.html" %}
    <div class="content">
        <img src="{% static "images/logo_ai.png" %}" alt="" srcset="" id="logo-image">
        
        
        <h2>InteraktTöri App</h2>
        <hr class="separator-line-item">
        {% if user.is_authenticated %}
        <div class="logged-user-status-container">
            <p>Bejelentkezve mint: {{user.username}}, {% if user.tanar %}tanár{% else %}tanuló{% endif %}</p>
        </div>
        {% endif %}
        <div id="page-links">
            {% if user.is_authenticated %}
                <a href="{% url 'terkep' %}" class="page-link-item">Térkép</a>
                <a href="{% url 'teszt' %}" class="page-link-item">Teszt</a>
                <a href="{% url 'sajatadatok' %}" class="page-link-item">Saját adatok</a>
                <a href="{% url 'kijelentkezes' %}" class="page-link-item">Kilépés</a>

            {% else %}
                <a href="{% url 'bejelentkezes' %}" class="page-link-item">Belépés</a>
            {% endif %}
        </div>
        <hr class="separator-line-item">
        <div class="qr_code">
            
            <h4>QR kód beolvasása:</h4>
            {% load qr_code %}
            {% qr_from_data qr_url size='M' %}
            
            
        </div>
        
    </div>
    <div class="page-pattern right-pattern"></div>
</body>
</html>