<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belépés</title>
</head>
<body>
    <p>loginform helye</p>

    <div>
        <div>
            {% include 'pages/messages.html' %}
        </div>
        <div>
            {% if not user.is_authenticated %}
                <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit">Belépés</button>
                </form>
            {% else %}
            <a href="{% url 'kijelentkezes' %}">Kilépés</a>
                
            {% endif %}
            
        </div>
        <div>
            
        </div>
    </div>
</body>
</html>