{% extends "quiz/test.html" %}
{% block content %}
    <h2>{{ quiz.title }}</h2>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <p><strong>{{ forloop.counter }}. {{ question.text }}</strong></p>
                {% if question.question_type == 'tf' %}
                    <input type="radio" name="question_{{ question.id }}" value="true">Igaz
                    <input type="radio" name="question_{{ question.id }}" value="false">Hamis
                {% else %}
                    {% for answer in question.answers.all %}
                        <input type="checkbox" name="question_{{ question.id }}" value="{{ answer.id }}">
                        {{ answer.text }}<br>
                    {% endfor %}
                {% endif %}
                
                
            </div>
        {% endfor %}
        <button type="submit">Teszt befejezése</button>
    </form>
{% endblock content %}