{% extends "quiz/test.html" %}
{% load static %}

{% block content %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <input id="quiz_id" value = "{{quiz_id}}" type=hidden>
    <h2>D3.js Buborékdiagram</h2>
    <svg width="800" height="600" id="top-score"></svg>
    <svg width="800" height="600" id="wrost-score"></svg>

    <div id="table-container">
        <table id="table-root">
            

        </table>
    </div>


    <script type="module" src="{% static 'scripts/test_results.js' %}"></script>

{% endblock content %}


