{% extends "quiz/test.html" %}

{% block content %}
<div class="content">
    <h2>A "{{ quiz.title }}" teszt kérdései:</h2>
    {% if questions.count %}
        <table>
            <tr>
                <th>Kérdés</th>
                <th>Típus</th>
            </tr>
            {% for question in questions %}
            <tr>
                <td>{{ question.text }}</td>
                <td>({{ question.get_question_type_display }})</td>
                <td><a href="{% url "kerdes_torlese" quiz.id question.id %}" onclick="return confirmDelete(event, this.href);">Törlés</a></td>
            </tr>    
            
            {% endfor %}
        </table>
    {% else %}
        <div>
            <p>Még nincsenek kérdések</p>
        </div>
    {% endif %}
    
    
    <h2>Új kérdés hozzáadása a "{{ quiz.title }}" teszthez</h2>

    <form method="post">
        {% csrf_token %}
        
        <h3>Kérdés adatai</h3>
        {{ form.as_p }}

        <button type="submit">Tovább</button>
    </form>


    <a href="{% url 'kerdes_kivalasztasa' quiz.id %}">Kérdés hozzáadása a meglévő kérdések közzül</a>
    <a href="{% url 'teszt' %}">Vissza a kvízek listájához</a>
</div>

{% endblock %}