{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesztek</title>
    <link rel="stylesheet" href="{% static 'styles/tests.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >

</head>

<body>
    {% include "pages/messages.html" %}
    {% block content %}
        <p>Tesztek főoldala</p>
        <table>
            <tr>
                <th>Teszt neve</th>
                <th>Leírás</th>
            </tr>
            
            {% for quiz in quiz_list %}
            <tr>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.description }}</td>
                <td><a href="{% url 'teszt_reszletei' quiz.id %}">Részletek</a></td>
                <td><a href="{% url 'teszt_inditasa' quiz.id %}">Teszt indítása</a></td>
                <td><a href="{% url 'teszt_torlese' quiz.id %}" onclick="return confirmDelete(event, this.href);">Törlés</a></td>
                <td><a href="{% url 'teszteredmenyek' quiz.id %}">Eredmények</a></td>
            </tr>
                
            {% endfor %}
            
        </table>
        
        <a href="{% url 'uj_teszt_keszitese' %}">Teszt hozzáadása</a>
        
        
        
    {% endblock content %}
    <div id="delete-popup" class="popup-overlay">
        <div class="popup-content">
        <h3>Objektum törlése</h3>
        <label for="">Biztosan törli az objektumot?</label>
        <div class="popup-buttons">
            <button type="button" id="deleteFeatureButton" class="apply-button">Törlés</button>
            <button type="button" id="closeDeletingPopup">Mégse</button>
        </div>
        </div>
    </div>
    <script>
        function confirmDelete(event, url) {
            event.preventDefault();
            const popupContainer = document.getElementById('delete-popup');
            const confirmButton = document.getElementById('deleteFeatureButton');
            const closeButton = document.getElementById('closeDeletingPopup');
            popupContainer.style.display = 'block';
            function closeDeleting () {
                popupContainer.style.display = 'none';
            }
            closeButton.addEventListener('click', closeDeleting);

            confirmButton.addEventListener('click', function() {
                window.location.href = url;  // Törlés végrehajtása az adott URL-re
            });

        }
    </script>
</body>
</html>