{% extends "quiz/test.html" %}

{% block content %}
<div class="content" id="quiz-details-content">
    <h3 class="quiz-subpage-title">A " {{ quiz.title }} " teszt kérdései:</h3>
    {% if questions.count %}
        <table class="table sajat-table">
            <thead class="sajat-head">
                <tr>
                    <th>Kérdés</th>
                    <th>Típus</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.text }}</td>
                        <td>({{ question.get_question_type_display }})</td>
                        <td><a href="{% url "kerdes_torlese" quiz.id question.id %}" onclick="return confirmDelete(event, this.href);" class="btn btn-warning">Törlés</a></td>
                    </tr>    
                
                {% endfor %}
            </tbody>
            
        </table>
    {% else %}
        <div>
            <p>Még nincsenek kérdések</p>
        </div>
    {% endif %}
    
    
    

    <form method="post" id="new-question-form">
        {% csrf_token %}
       
        <h4>Új kérdés létrehozása</h4>
        <label for="">{{ form.question_type.label }}</label>
        <div id="new-question-start">
            
            {{ form.question_type }}   
            <button type="submit" class="btn btn-warning">Tovább</button>
        </div>
        <div class="disz-csik"></div>
        <div id="select-and-prew-links-container">
            <a href="{% url 'kerdes_kivalasztasa' quiz.id %}" class="btn btn-warning">Kérdés hozzáadása a meglévő kérdések közzül</a>
            <a href="{% url 'teszt' %}" class="btn btn-warning">Vissza a kvízek listájához</a>
        </div>
        

        
    </form>


    
</div>

{% endblock %}